In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('countries.csv', sep=';')
df.head(10)

     country,year,population
0   Afghanistan,1952,8425333
1   Afghanistan,1957,9240934
2  Afghanistan,1962,10267083
3  Afghanistan,1967,11537966
4  Afghanistan,1972,13079460
5  Afghanistan,1977,14880372
6  Afghanistan,1982,12881816
7  Afghanistan,1987,13867957
8  Afghanistan,1992,16317921
9  Afghanistan,1997,22227415